<h4 class="mt-3 mb-5">Post List</h4>
<a class="btn btn-primary" [routerLink]="['/','post', 'add']"><i class="fa fa-plus me-2"></i> Add Post</a>
<table class="table table-bordered table-hover table-striped mt-5">
    <thead>
        <tr>
            <td>ID</td>
            <td>Title</td>
            <td>Description</td>
            <td>Action</td>
        </tr>
    </thead>
    <tbody>
        <ng-container *ngIf="(posts$ | async).length > 0; else noPost">
            <tr *ngFor="let post of ( posts$ | async)">
                <td>{{post.id}}</td>
                <td>{{post.title}}</td>
                <td>{{post.description}}</td>
                <td>
                    <a [routerLink]="['update', post.id]" class="btn">
                        <i class="fa fa-pencil text-warning"></i>
                    </a>
                    <span class="btn" (click)="deletePost(post.id)">
                        <i class="fa fa-trash text-danger"></i>
                    </span>
                </td>
            </tr>
        </ng-container>
        <ng-template #noPost>
            <tr>
                <td colspan="4" class="text-danger">
                    No Records
                </td>
            </tr>
        </ng-template>
    </tbody>
</table>