/* You can add global styles to this file, and also import other style files */
@import './../node_modules/bootstrap/dist/css/bootstrap.min.css';
@import './../node_modules/font-awesome/css/font-awesome.min.css';

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    margin: 0;
    height: 100vh;
}

body,
label,
input,
button,
textarea,
.btn {
    font-size: 1.6rem;
}

.gridContainer {
    height: 100%;
    display: grid;
    grid-template-areas: "header" "main" "footer";
    grid-template-rows: 5rem 1fr 5rem;
    grid-template-columns: 1fr;
}

header {
    display: flex;
    align-items: center;
    background-color: #203040;
    color: #fff;
    grid-area: header;
}

header a,
header a:link,
header a:active,
header a:focus,
header a:hover,
header a:visited,
.navbar-brand:focus,
.navbar-brand:hover,
.nav-link:focus,
.nav-link:hover, .nav-link:focus-visible {
    color: #fff;
    text-decoration: none;
    font-size: 1.6rem;
    box-shadow: none;
}

header app-header,
header app-header nav {
    width: 100%;
    height: 100%;
}

main {
    grid-area: main;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #203040;
    color: #fff;
}

*:focus-visible {
    outline: none;
}
